<div class="flex gap-8 justify-center items-center">
  <div>
    <img class="tca-device-border" data-blink-src="{{ site.imagesUrl }}/tests/flutterrandomcolortester/screenshots/frctester-screenshot-generate.png" alt="Flutter Random Color Tester - Generate random colors">
  </div>
  <div>
    <img class="tca-device-border" data-blink-src="{{ site.imagesUrl }}/tests/flutterrandomcolortester/screenshots/frctester-screenshot-colors.png" alt="Flutter Random Color Tester - View random Colors">
  </div>
  <div>
    <img class="tca-device-border" data-blink-src="{{ site.imagesUrl }}/tests/flutterrandomcolortester/screenshots/frctester-screenshot-color.png" alt="Flutter Random Color Tester - Preview Random Color">
  </div>
</div>