{% macro primaryLinkButton(icon, title, link, isLarge = false, isExternalLink = false) -%}
  <a href="{{ link }}" class="text-white bg-gradient-to-r from-accent-500 via-accent-600 to-accent-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-accent-300 dark:focus:ring-accent-800 shadow-lg shadow-accent-500/50 dark:shadow-lg dark:shadow-accent-800/80 font-medium rounded-lg  text-center inline-flex items-center justify-center text-base {{ 'px-6 py-3.5' if isLarge else 'px-5 py-3'}}" {% if isExternalLink %} target="_blank" {% endif %}>
    {%- if icon -%}
      {%- set svgClasses = "mr-2 -ml-1 w-5 h-5" -%}
      {%- include "assets/svg/" + icon -%}
    {%- endif -%}
    {{ title }}
  </a>
{%- endmacro %}

{# 'text-base py-3' if isLarge else 'text-sm py-2.5' #}
