{% macro screenshotItem(screenshot, inFlex = true) -%}
  <div class="{{ screenshot.flexWidth if inFlex }} {{ screenshot.aspectRatio }} flex items-center">
    <img class="tca-device-border" data-blink-src="{{ site.imagesUrl }}{{ screenshot.image }}" alt="{{ screenshot.alt }}">
  </div>
{%- endmacro %}

{% macro screenshotsFlex(screenshots) -%}
  <div class="flex gap-8 justify-center items-center">
    {% for screenshot in screenshots %}
      {{ screenshotItem(screenshot) }}
    {% endfor %}
  </div>
{%- endmacro %}