{% macro screenshot(image, aspectRatio, class) -%}
  <div class="{{ class }} {% if aspectRatio %} {{ aspectRatio }} {% endif %}">
    <img class="tca-device-border" data-blink-src="{{ site.imagesUrl }}{{ image }}">
  </div>
{%- endmacro %}

{% macro screenshotsFlex(screenshots) -%}
  <div class="flex gap-8 justify-center items-center">
    {% for shot in screenshots %}
      {{ screenshot(shot.image, shot.aspectRatio, shot.flexWidth) }}
    {% endfor %}
  </div>
{%- endmacro %}