<!doctype html>
<html lang="en" class="dark">
<head>
  {% include "blocks/common/head.njk" %}
</head>
<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">

  <div class="dark:tca-pattern">
    {% include "blocks/common/header.njk" %}
    {% include "blocks/common/hero.njk" %}
    {% include "blocks/common/screenshot-section.njk" %}
  </div>

  {{ content | safe }}

  {% include "blocks/common/footer.njk" %}
</body>
</html>