<!doctype html>
<html lang="en" class="text-gray-700 antialiased bg-white">
<head>
  {% include "blocks/common/head.njk" %}
</head>
<body class="antialiased text-zinc-700">

  <div class="tca-pattern">
    {% include "blocks/common/header.njk" %}
    {% include "blocks/common/hero.njk" %}
  </div>

  {{ content | safe }}

  {% include "blocks/common/footer.njk" %}
</body>
</html>