
<footer class="dark:bg-black dark:bg-opacity-25 dark:tca-pattern py-16">
  <div class="tca-container-lg text-center">

    <p class="mt-12">Copyright © 1999-{{ site.buildYear }} TechAurelian. All rights reserved.
      {# <a class="d-sm-block d-lg-inline" href="/about/privacy/">Privacy Policy</a> #}
    </p>

  </div>
</footer>