
<footer class="py-12 text-slate-400 bg-slate-900">
  <div class="tca-container-lg text-center">

    <p class="mt-12">Copyright © 1999-{{ site.buildYear }} TechAurelian. All rights reserved.
      {# <a class="d-sm-block d-lg-inline" href="/about/privacy/">Privacy Policy</a> #}
    </p>

  </div>
</footer>