<div class="py-16 dark:bg-black dark:bg-opacity-25 dark:tca-pattern">
  <div class="tca-container-lg">
    {% if tcaHeroShowSectionName and tcaSectionName %}
      <p class="text-gray-400 font-semibold text-xl">
        <a href="{{ tcaSectionRoot }}">{{ tcaSectionName }}</a>
      </p>
    {% endif %}
    {% if title %}
      <h1 class="text-5xl tracking-tight font-bold text-white">
        {% if tcaTitleLink %}<a href="{{ tcaTitleLink }}">{% endif %}
          {{ title }}
        {% if tcaTitleLink %}</a>{% endif %}
      </h1>
    {% endif %}
    {% if tcaSubtitle %}
      <h2 class="mt-2 text-xl font-semibold text-white">{{ tcaSubtitle }}</h2>
    {% endif %}

    {% if tcaHeroShowTags %}
      {# display tags with hashtags #}
      <p class="mt-6 space-x-4 text-lg font-semibold">
        {% for tag in tags %}
          {# <a href="/tags/{{ tag | slugify }}" class="text-gray-300 hover:text-white font-medium bg-gray-800 rounded-full px-2 py-1 text-sm">{{ tag }}</a> #}
          <span>#{{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}
    
  </div>
</div>




{# {% from "templates/heroes.njk" import basicHero with context %}

<section>
  {% if tcaHero %}
    {% include "blocks/heroes/" + tcaHero %}
  {% else %}
    {{ basicHero() }}
  {% endif %}
</section> #}