{% if tcaScreenshotSection %}
  <div class="px-16 py-12 dark:bg-neutral-600 dark:bg-opacity-10">
    <div class="tca-container-md">
      {% include "blocks/screenshot-sections/" + tcaScreenshotSection %}
    </div>
  </div>
{% endif %}