{% if tcaScreenshots %}
  <div class="sm:px-16 py-12 dark:bg-neutral-600 dark:bg-opacity-10">
    <div class="tca-container-md">
      {% include "blocks/screenshots/" + tcaScreenshots %}
    </div>
  </div>
{% endif %}