{% macro headerNavItem(title, icon, label, link, isMobileVisible = true) %}
  <li class="{{ 'hidden lg:block' if not isMobileVisible }} md:mx-2 lg:mx-0">
    <a href="{{ link | url }}" class="flex items-center p-2 text-base font-normal text-neutral-900 rounded-lg dark:text-white hover:bg-neutral-100 dark:hover:bg-neutral-700">
        {% if icon %}
          {% set svgClasses = "flex-shrink-0 w-6 h-6 text-neutral-500 transition duration-75 dark:text-neutral-400 group-hover:text-neutral-900 dark:group-hover:text-white" %}
          {% include "assets/svg/" + icon %}
        {% endif %}
        {# <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-neutral-500 transition duration-75 dark:text-neutral-400 group-hover:text-neutral-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg> #}
        <span class="flex-1 ml-3 whitespace-nowrap">{{ title }}</span>
        {% if label %}
          <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-neutral-800 bg-neutral-200 rounded-full dark:bg-neutral-700 dark:text-neutral-300">{{ label }}</span>
        {% endif %}
    </a>
  </li>
{% endmacro %}

{# lg:px-4 xl:px-8 #}

<div class=" tca-container-md xl:px-8 flex lg:block items-center justify-between">
  <a class="" href="{{ '/' | url }}">
    <img class="w-32 md:w-24 lg:w-48 xl:w-64 mx-auto" src="/assets/img/branding/logo/techaurelian-logo-white.svg" alt="TechAurelian">
  </a>

  <nav class="font-medium lg:mt-16 lg:divide-y lg:dark:divide-neutral-700 md:flex lg:block">
    <ul class="lg:mt-4 lg:space-y-2">
      {# {{ headerNavItem("/", "Home", "home") }} #}
      {{ headerNavItem(title = "Apps", icon = "theme/apps.svg", link = "/apps/") }}
      {{ headerNavItem(title = "Hello World Counters", label = "v1.1", link = "/helloworldcounters/", isMobileVisible = false) }}
      {{ headerNavItem(title = "Hello World Colors", label = "v2.1", link = "/helloworldcolors/", isMobileVisible = false) }}
      {{ headerNavItem(title = "Hello World Toast", link = "/helloworldtoast/", isMobileVisible = false) }}
    </ul>
    <ul class="lg:pt-4 lg:mt-4 lg:space-y-2">
      {{ headerNavItem(title = "Tests", icon = "theme/tests.svg", link = "/tests/") }}
      {{ headerNavItem(title = "Flutter Random Color Tester", label = "New", link = "/flutterrandomcolortester/", isMobileVisible = false) }}
    </ul>
    <ul class="lg:pt-4 lg:mt-4 lg:space-y-2 md:flex lg:block">
      {# {{ headerNavItem("/reviews/", "Reviews", "reviews") }} #}
      {{ headerNavItem(title = "Contact", icon = "theme/contact.svg", link = "/contact/") }}
      {{ headerNavItem(title = "About", icon = "theme/about.svg", link = "/about/") }}
      {# {{ headerNavItem("https://github.com/TechAurelian", "GitHub", "github") }} #}
    </ul>
  </nav>
</div>
