---
title: TechAurelian
# title: Hello, World!
tcaSeoTitle: TechAurelian

tcaContentHasProse: false
---

{% from "templates/app.njk" import appListItem with context %}

{{ appListItem(apps.helloworldcounters) }}

{{ appListItem(tests.flutterrandomcolortester) }}
