---
tcaSeoTitle: TechAurelian
---

<section class="py-72 text-center">
  <h1 class="font-extralight text-4xl sm:text-8xl text-blue-900"><b class="block font-extrabold">TechAurelian</b> is Under Construction</h1>
</section>

<section class="py-60 text-center bg-blue-800">
  <h2 class="font-extralight text-3xl sm:text-7xl text-white">
    <a href="https://github.com/TechAurelian" target="_blank"><b class="block font-extrabold">TechAurelian</b> is on GitHub</a>
  </h1>
</section>