<div class="flex gap-8 justify-center items-center">
  <div class="w-4/12">
    <img class="rounded-lg shadow-lg border-neutral-400 border-[0.75rem]" data-blink-src="{{ site.imagesUrl }}/apps/helloworldcounters/main/helloworldcounters-main-android.png" alt="Hello World Counters Android">
  </div>
  <div class="w-8/12">
    <img class="rounded-lg shadow-lg border-neutral-400 border-[0.75rem]" data-blink-src="{{ site.imagesUrl }}/apps/helloworldcounters/main/helloworldcounters-main-web.png" alt="Hello World Counters Web">
  </div>
</div>